body{
     height:100%;
  min-height:100%;
    background-image: url("http://mycolorscreen.com/wp-content/uploads/wallpapers_2012/316106/ios7background-blurred.jpg");
  text-align:center;
  
}
.head{
  
  background-image: url("image/head.jpg");
  height:70px;
  text-align: center;
  float:both;
  
}
.logg{
background-repeat: no-repeat;
cursor: pointer;
background-image: url("image/logo2.png");
background-size: 100%;
height: 50px;
width: 450px;
padding-top:40px; 
margin: 0px 0px 0px 30%;
}
.logg2{
  float:right;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
 background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("image/debt.png");
background-size: 100%;
height: 100px;
width: 250px;
margin: 20px 40px 0px 0px;
}
.cont{
	height: 500px;
}
.paper{
    position: relative; margin: 30px 5%;  border-radius:10px;
  box-shadow: 10px 10px 10px 10px #888888; font-family: "trebuchet ms", sans-serif; 
}
li{
  border-bottom:1px solid #dddddd;

}
.bhja{
    background-color: blue;
     background-image: url("bk.jpg");
}
.sel{
    background-color: red;
}
#ko{
    background-image: url("bk.jpg");
    height: 800px;
    text-align: center;
}
#ll{float:right;}
#next{
    background-color: #0F0F1E;color:white; height: 60px;
    
}
#test{
    background-color: #0F0F1E;
    
}
#list{
   
    border-radius: 7px;
    border: 1px solid #007FFF;
}
ul{
  border: 1px solid #eeeeee;
  border-radius:10px;
  padding-left:10px;
}
#question{
    padding-top: 10px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    border: 1px solid #0F0F1E ;
  border-radius:5px;
    color: white;
    background-image: url("image/bb4.jpg");
    font-size: 1.2em;
}
#userresult{
  display: inline-block; text-align: center; color:#001040;
  border: 3px solid #001040;
  border-radius:10px;
  box-shadow: 10px 10px 10px 10px #888888;
  padding: 10px;
  font-size: 1.1em;
  
}
#resulthead{
  border-radius:0px;
    padding-top: 10px;
    height:50px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    border: 0px solid #0F0F1E ;
   margin-top:0px;
    
    color: white;
    background-image: url("image/bb4.jpg");
  background-size:100%;
  background-repeat:no-repeat;
    font-size: 1.2em;
}.foot{
  
	/*height: 50px; 
	margin-top:10px;*/ 
	text-align: center; 
	background-image:url("image/head.jpg");
	color: white;
  clear: both;
    position: relative;
    height: 3em;
    margin-top: -3em;
  position:fixed;
    bottom:0;
  width:100%;
   font-family: "trebuchet ms", sans-serif;    
}
#result{
    margin: 20px 15% ;
    background-color: white;
    height: 500px; 
    border-radius: 10px;
    display: inline-block;
    color: white;
    text-align:center;
    
  
}
.container{
 
 margin-top:10px;
 position:absolute;

    
}
#tit{
    color:white;
    margin: 50px 0px 30px 0px;
    
    
}
#result > p{
    margin: 0px 0px 0px 200px;
}
#containa2{
    margin: 0px 15% 0px 15%;
   height:650px;
    background-color: #9999FF;    
 
}
#tab1, #tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9,#tab10{
    text-align: center;
}
#containa2 > img{
    display: block; text-align: center; 
   
}
.taketest{
    margin: 250px 0px 0px 30px;
    position: absolute;
    text-align:center;
}
#start{
    background-color: #0F0F1E;
    color: white;
    height: 70px;
    width: 300px;
border-radius: 7px;
margin: 30px 200px 100px 300px;

    
    
}
.mark{
	 height: 70px; width: 45%; display: inline-block;  float: left; font-size: 20px ; margin-left: 35px; 
}
.hombut{
	background-image: url("image/take.png");
}

body > div:first-child + div {
    margin-top: 0px;
}

/* radio style */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-custom {
/*	padding: 0 1em;*/
	max-width: 900px;
	margin: 0 auto;
}

.ac-custom h2 {
	font-size: 3em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0 0 30px;
}

.ac-custom ul,
.ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}

.ac-custom li {
	margin:  auto;
	padding: 1em 0;
	position: relative;
}

.ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 1.2em;
	padding: 0 0 0 80px;
	vertical-align: top;
	color:#001040;
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom label::before {
	content: '';
	border: 4px solid #001040;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-radio label::before {
	border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color: #001040;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
/*	left: 5px;*/
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #001040;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
	width: 20px;
	height: 20px;
	margin-top: -15px;
	/*left: 10px;*/
	position: absolute;
}

.ac-circle label::before {
	background-color:#001040;
	border: none;
}

.ac-circle svg {
	width: 40px;
	height: 60px;
	margin-top: -35px;
	left: -7px;
}

.ac-circle svg path {
	stroke-width: 5px;
} 

/* Box Fill */
.ac-boxfill svg path {
	stroke-width: 8px;
} 

/* Swirl */
.ac-swirl svg path {
	stroke-width: 8px;
}

/* List */
.ac-list ol {
	list-style: decimal;
	list-style-position: inside;
}

.ac-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40px;
}

.ac-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30px;
}

.ac-list label::before {
	display: none;
}

.ac-list svg {
	width: 100%;
	height: 80px;
	left: 0;
	top: 1.2em;
	margin-top: 0px;
}

.ac-list svg path {
	stroke-width: 4px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}


h1.heading {
    text-align: center;
    border-bottom: 1px rgba(0, 0, 0, 0.06) solid;
}
li > input{color: black;}
.btn-radio {
	width: 140px;
    display: inline-block;
    height: 120px;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
  margin-right: 0px;
  height: 110px;
  background-size:100%;
  
}

.space-20 {
    margin-top: 20px;
}
.rad{
    display: inline-block;
    width: 150px;
  margin-top:15px;
  
}
@media only screen and (max-device-width: 480px) {
 .paper{
   
 } 
  #result{
    height:700px;
  }

}
}