.btn-radio {
	width: 100%;
    display: inline-block;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
     display: inline-block;
}

.space-20 {
    margin-top: 20px;
}
.rad{
    display: inline-block;
    width: 20%;
    
}